body{
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}


#myVideo {
    margin: 0px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; 
    height: 749px;
    z-index: -1;
    object-fit: cover;
}