/* nav-bar */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --green: #006400;
    --white: #fff;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .7);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--white);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #fff !important;
}

.dark{
    background: #1f1f1f !important;
}


section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--white);
}

.heading span {
    background: var(--green);
    color: #222221;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--white);
    color: var(--white);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--green);
    color: #222221;
}



/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/


.top-navbar .bg-light {
    background: #333333 !important;
}

.top-navbar .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.top-navbar .navbar-light .navbar-nav .nav-item {
    position: relative;
    display: inline-block;
    padding: 15px 0px;
    margin: 0px 20px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link {
    padding: 6px 0px;
    position: relative;
    display: block;
    line-height: 30px;
    letter-spacing: 1px;
}

.top-navbar .navbar-light .navbar-nav .nav-item::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: auto;
    top: 11px;
    width: 7px;
    height: 8px;
    opacity: 0;
    margin-left: -3px;
    background-color: #ffffff;
    border-radius: 50px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '';
    left: 0%;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
    border-radius: 50px;
    opacity: 0;
    margin-left: -10px;
    background-color: #ffffff;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    content: '';
    right: 0%;
    left: auto;
    bottom: auto;
    top: -4px;
    width: 7px;
    height: 8px;
    border-radius: 50px;
    border: none !important;
    opacity: 0;
    margin-right: -11px;
    background-color: #ffffff;
    transition: all 900ms ease;
    -webkit-transition: all 900ms ease;
    -ms-transition: all 900ms ease;
    -o-transition: all 900ms ease;
    -moz-transition: all 900ms ease;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active::after {
    opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::before {
    opacity: 1;
    left: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #006400;
}

.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link::after {
    opacity: 1;
    right: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item:hover::after {
    opacity: 1;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::before {
    opacity: 1;
    left: 40%;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #006400;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover::after {
    opacity: 1;
    right: 40%;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}



.top-navbar.fixed-menu .bg-light {
    position: fixed ;
    top: 0;
    width: 100%;
    z-index: 9999;
    visibility: visible;
    transform: translate(0, 0) scale(1);
    transition: .3s;
}

.top-navbar .bg-light {
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.top-navbar .navbar-light .navbar-nav li .dropdown-menu a:hover {
    background: #006400;
    color: #ffffff;
}

.navbar-right li a {
    position: relative;
    padding: 13px 20px;
    font-size: 18px;
    display: inline-block;
}

.navbar-right li a,
.navbar-right li a.hover-btn-new::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-right li a.hover-btn-new::before,
.navbar-right li a.hover-btn-new::after {
    background: #006400;
    content: '';
    position: absolute;
    z-index: 1;
}

.navbar-right li a.hover-btn-new:hover span {
    color: #ffffff;
}

.navbar-right li a.hover-btn-new::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar-right li a.hover-btn-new::after {
    background: #ffffff !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar-right li a.hover-btn-new span {
    position: relative;
    z-index: 2;
    color: #333333;
}

.navbar-right li a.hover-btn-new:hover:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}


.navbar-toggler {
    background: #ffffff;
    border-radius: 0px;
    padding: 10px 10px;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #333333;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler:hover {
    background: #006400;
}

.navbar-toggler:hover .icon-bar {
    background: #ffffff;
}


.box-slider {
    height: 100%;
}


.box-slider .carousel-control-prev {
    background: #006400;
    position: absolute;
    left: 0px;
    font-size: 38px;
    top: 40%;
    width: 60px;
    height: 60px;
    line-height: 20px;
    opacity: 1;
}

.box-slider .carousel-control-next {
    background: #006400;
    position: absolute;
    right: 0px;
    font-size: 38px;
    top: 40%;
    width: 60px;
    height: 60px;
    line-height: 20px;
    opacity: 1;
}

.first-section .big-tagline a {
    background: none;
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #333333;
    padding: 13px 40px;
    font-weight: 500;
}


.big-tagline a,
.big-tagline a.hover-btn-new::after {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.big-tagline a.hover-btn-new::before,
.big-tagline a.hover-btn-new::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: 1;
}

.big-tagline a.hover-btn-new:hover span {
    color: #006400;
}

.hover-btn-new::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.hover-btn-new::after {
    background: #006400 !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.hover-btn-new span {
    position: relative;
    z-index: 2;
}

.hover-btn-new:hover:after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}


.first-section .big-tagline a:hover {
    color: #333333;
}

.box-slider .carousel-inner {
    height: 100%;
}

.box-slider .carousel-item {
    height: 100%;
    width: 100%;
}

.theme-switch {
    --toggle-size: 15px;
    /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
    --container-width: 5.625em;
    --container-height: 2.5em;
    --container-radius: 6.25em;
    /* radius 0 - minecraft mode :) */
    --container-light-bg: #3D7EAE;
    --container-night-bg: #1D1F2C;
    --circle-container-diameter: 3.375em;
    --sun-moon-diameter: 2.125em;
    --sun-bg: #ECCA2F;
    --moon-bg: #C4C9D1;
    --spot-color: #959DB1;
    --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
    --stars-color: #fff;
    --clouds-color: #F3FDFF;
    --back-clouds-color: #AACADF;
    --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
    --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);

    margin-top: 17px !important;
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--toggle-size);
}

.theme-switch__container {
    width: var(--container-width);
    height: var(--container-height);
    background-color: var(--container-light-bg);
    border-radius: var(--container-radius);
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__container::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--container-radius)
}

.theme-switch__checkbox {
    display: none;
}

.theme-switch__circle-container {
    width: var(--circle-container-diameter);
    height: var(--circle-container-diameter);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    left: var(--circle-container-offset);
    top: var(--circle-container-offset);
    border-radius: var(--container-radius);
    -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    pointer-events: none;
}

.theme-switch__sun-moon-container {
    pointer-events: auto;
    position: relative;
    z-index: 2;
    width: var(--sun-moon-diameter);
    height: var(--sun-moon-diameter);
    margin: auto;
    border-radius: var(--container-radius);
    background-color: var(--sun-bg);
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
    -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
    overflow: hidden;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.theme-switch__moon {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: var(--moon-bg);
    border-radius: inherit;
    -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    position: relative;
}

.theme-switch__spot {
    position: absolute;
    top: 0.75em;
    left: 0.312em;
    width: 0.75em;
    height: 0.75em;
    border-radius: var(--container-radius);
    background-color: var(--spot-color);
    -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
    width: 0.375em;
    height: 0.375em;
    top: 0.937em;
    left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
    width: 0.25em;
    height: 0.25em;
    top: 0.312em;
    left: 0.812em;
}

.theme-switch__clouds {
    width: 1.25em;
    height: 1.25em;
    background-color: var(--clouds-color);
    border-radius: var(--container-radius);
    position: absolute;
    bottom: -0.625em;
    left: 0.312em;
    -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
    -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
    transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
    position: absolute;
    color: var(--stars-color);
    top: -100%;
    left: 0.312em;
    width: 2.75em;
    height: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked+.theme-switch__container {
    background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
    left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
    left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
    bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}






/* media queries  */

@media (max-width:1107px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:835.5px) {

    #menu-btn {
        display: inline-block;
    }

    .header .search-form {
        width: 90%;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #222221;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.5rem;
    }

}
a{
    text-decoration: none;
}





/* pre-loader */

.pre-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loader {
    width: 12em;
    height: 12em;
}

.loader path {
    stroke: #43a047;
    stroke-width: 0.6px;
    animation: dashArray 7s ease-in-out infinite,
        dashOffset 7s linear infinite;
}

@keyframes dashArray {
    0% {
        stroke-dasharray: 0 1 359 0;
    }

    50% {
        stroke-dasharray: 0 359 1 0;
    }

    100% {
        stroke-dasharray: 359 1 0 0;
    }
}

@keyframes dashOffset {
    0% {
        stroke-dashoffset: 365;
    }

    100% {
        stroke-dashoffset: 5;
    }
}






/* swiper */

/** @section Swiper */
.swiper-container {
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    /* Fix of Webkit flickering */
    z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
    float: left;
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column;
}

.swiper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    width: 100%;
    height: auto;
    min-height: inherit;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container {
    flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translate3d(0, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto;
}

/* a11y */
.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
    touch-action: pan-y;
}

.swiper-wp8-vertical {
    touch-action: pan-x;
}

/* Coverflow */
.swiper-container-coverflow .swiper-wrapper {
    /* Windows 8 IE 10 fix */
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide>.vide__body,
.swiper-slide>.parallax_cnt {
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    font-size: 60px;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in;
    will-change: transform;
    z-index: 10;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}

.swiper-button-prev {
    left: 30px;
}

.swiper-button-prev:before {
    font-family: "FontAwesome";
    content: "\f104";
}

.swiper-button-next {
    right: 30px;
}

.swiper-button-next:before {
    font-family: "FontAwesome";
    content: "\f105";
}

.swiper-slider.swiper-container-rtl .swiper-button-prev::before {
    content: "\f061";
}

.swiper-slider.swiper-container-rtl .swiper-button-next::before {
    content: "\f060";
}

.swiper-pagination {
    position: absolute;
    display: block;
    text-align: center;
    transition: .3s;
    transform: translate3d(0, 0, 0);
    z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}

.swiper-pagination .swiper-pagination-bullet {
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #ffffff;
    transition: .2s;
}

.swiper-pagination .swiper-pagination-bullet:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 22px;
    height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: inherit;
    transition: .25s;
}

.swiper-pagination .swiper-pagination-bullet:after {
    display: none;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
}

.mobile .swiper-pagination .swiper-pagination-bullet:after,
.tablet .swiper-pagination .swiper-pagination-bullet:after {
    display: block;
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before,
.swiper-pagination .swiper-pagination-bullet:hover:before {
    transform: translate(-50%, -50%) scale(1);
}

.swiper-pagination.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-black .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.6);
}

.swiper-pagination-black .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: black;
}

.swiper-container-vertical>.swiper-pagination {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
    margin: 5px 0;
    display: block;
}

.swiper-container-horizontal .swiper-pagination {
    bottom: 20px;
    left: 0;
    width: 100%;
}

.swiper-container-horizontal .swiper-pagination .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.swiper-slide-caption {
    width: 100%;
    white-space: normal;
}

.swiper-slider-1 {
    min-height: 40.10417vw;
}

.swiper-slider-1 .swiper-pagination-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 40px;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination {
    position: static;
    text-align: left;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination-bullet {
    margin: 0 10px;
}

.swiper-slider-1 .swiper-pagination-wrap .swiper-pagination-bullet:first-child {
    margin-left: 0;
}

@media (min-width: 992px) {
    .swiper-slider-1 .swiper-pagination-wrap {
        height: 70px;
    }
}

@media (min-width: 1600px) {
    .swiper-slider-1 .swiper-pagination-wrap {
        height: 17%;
    }

    .swiper-slider-1 *+.button {
        margin-top: 40px;
    }

    .swiper-slider-1 h1+p {
        margin-top: 23px;
    }
}

@media (min-width: 992px) {
    .rd-navbar-transparent-wrap+.swiper-slider-1 .swiper-slide-caption {
        padding: 130px 0 100px;
    }
}

@media (min-width: 1600px) {
    .rd-navbar-transparent-wrap+.swiper-slider-1 .swiper-slide-caption {
        padding: 110px 0 100px;
    }
}

.swiper-slider-2 {
    min-height: 31.25vw;
}

.swiper-slider-2 .swiper-pagination-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 40px;
}

.swiper-slider-2 .swiper-pagination-wrap .swiper-pagination {
    position: static;
    text-align: left;
}

.swiper-slider-3 {
    min-height: 45.3125vw;
}

.swiper-slider-3 .swiper-slide-caption {
    padding-bottom: 0;
}

.swiper-slider-3 .navigation-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.swiper-slider-3 .navigation-wrap .swiper-button-prev,
.swiper-slider-3 .navigation-wrap .swiper-button-next {
    pointer-events: auto;
    transform: none;
}

@media (min-width: 768px) {
    .swiper-slider-3 .swiper-slide-caption {
        padding-bottom: 50px;
    }

    .swiper-slider-3 .swiper-button-prev,
    .swiper-slider-3 .swiper-button-next {
        top: calc(50% - 60px);
    }
}

@media (min-width: 992px) {
    .swiper-slider-3 .swiper-slide-caption {
        padding-bottom: 100px;
    }

    .swiper-slider-3 .swiper-button-prev,
    .swiper-slider-3 .swiper-button-next {
        top: calc(50% - 80px);
    }
}

@media (min-width: 1600px) {
    .swiper-slider-3 .swiper-slide-caption {
        padding-bottom: 91px;
    }

    .swiper-slider-3 .swiper-button-prev,
    .swiper-slider-3 .swiper-button-next {
        top: calc(50% - 110px);
    }
}

/* section */


.layout_padding {
    padding: 90px 0;
}

.layout_margin {
    margin: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 75px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.about_section .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .img-box {
    position: relative;
}

.about_section .img-box img {
    width: 100%;
}

.about_section .detail-box p {
    margin-top: 15px;
}

.about_section .detail-box a {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f8842b;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid #f8842b;
    margin-top: 15px;
}

.about_section .detail-box a:hover {
    color: #ffffff;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}